$primary-cyan: #274c5b;
$primary-olive: #7eb693;
$primary-sunny: #efd372;
$primary-dark-grey: #d4d4d4;
$secondary-dark-grey: #525c60;
$primary-light-grey: #f9f8f8;
$secondary-light-grey: #eff6f1;
$white: #ffffff;
