@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@700&family=Yellowtail&display=swap');

$primary-font-stack: 'Roboto', sans-serif;
$secondary-font-stack: 'Open Sans', sans-serif;
$tertiary-font-stack: 'Yellowtail', cursive;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
