@import '@styles/shared.scss';

.details {
  position: relative;
  max-width: 1337px;
  width: 100%;
  margin: 0 auto;

  &__button {
    position: absolute;
    top: 4px;
    right: -31px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 46px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: $white;
    background-color: $primary-cyan;
    border: none;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
  }

  &__product {
    display: flex;
    align-items: center;
    gap: 83px;
    margin-bottom: 90px;
  }

  &__pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 591px;
    height: 563px;
    background-color: $white;
    border-radius: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 30px;
    }
  }

  &__tag {
    position: absolute;
    top: 6%;
    left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    font-family: $secondary-font-stack;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: $white;
    background-color: $primary-cyan;
    border-radius: 8px;
  }

  &__content {
    max-width: 658px;
  }

  &__heading {
    margin-bottom: 9px;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    color: $primary-cyan;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin: 9px 0 27px;
    font-family: $secondary-font-stack;
    font-weight: 700;
    line-height: normal;
    color: $primary-cyan;

    &_old {
      color: #b8b8b8;
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
      text-decoration: line-through;
    }
  }

  &__description {
    margin-bottom: 35px;
    font-family: $secondary-font-stack;
    font-weight: 400;
    line-height: 1.65;
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 21px;
  }

  &__quantity {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: $primary-cyan;
  }

  &__input {
    width: 134px;
    height: 80px;
    padding: 28px 50px;
    font-family: $primary-font-stack;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: $primary-cyan;
    background-color: $white;
    border: 2px solid $primary-cyan;
    border-radius: 16px;
    outline: none;

    &::placeholder {
      font-family: $primary-font-stack;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      color: rgba(39, 76, 91, 0.5);
    }
  }

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    width: 220px;
    height: 80px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: $white;
    background-color: $primary-cyan;
    border: none;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
  }

  &__add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: $white;
    background-color: #335b6b;
    border-radius: 50%;
  }

  &__additional {
    max-width: 1137px;
    margin: 0 auto;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 26px;
  }

  &__option {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 363px;
    width: 100%;
    height: 80px;
    font-family: $secondary-font-stack;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    color: $primary-cyan;
    background-color: #eff6f1;
    border-radius: 16px;
    cursor: pointer;

    &_active {
      color: $white;
      background-color: $primary-cyan;
    }
  }

  &__container {
    font-family: $secondary-font-stack;
    font-weight: 400;
    line-height: 1.65;
    text-align: center;
  }
}
